[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
torchvision = "*"
mlflow = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python3 main.py"
host = "mlflow ui --host 0.0.0.0 --port 5000"
train = "cd src && python3 main.py"
